html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display:flex;
    justify-content:center;
    font-family: 'PT Sans', sans-serif;
    font-size:35px;
    background-color:#A95357;
}
.navbar{
    display:flex;
    justify-content:space-around;
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px;
    background-color:#A95357;
}
.main{
    display:flex;
    width:100%;
    background-color:#ecddca;
}
.content{
    background-color:#ecddca;
}
.indexPic{
    width:100%;
}
.footer{
    display:flex;
    justify-content:space-around;
    background-color:#498083;
}



.aboutMain{
    display:flex;
    background-color:#ecddca;
}
.leftPane{
    width:50%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:20px;
}
.rightPane{
    width:50%;
}


.gallery{
    display:flex;
    background-color:#ecddca;
}



.filmography{
    display:flex;
    justify-content:space-around;
    background-color:#ecddca;
}
.poster{
    width:33%;
}
.poster-image{
    width:300px;
    height:300px;
}